---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, there!</h1>
			<p>
				I'm Oded Niv, and you've stumbled upon my website.
				You'll find here a bit of information about myself,
				as well as random thoughts in my <a href="/blog">blog</a>.
			</p>
			<p>
				The best way to reach out to me is via <a href="https://linkedin.com/in/odedniv">Linkedin</a>,
				looking forward to your message!
			</p>
		</main>
		<Footer />
	</body>
</html>
